//- 技能模板
mixin skill(content) 
	skill
		block
		.content=content
mixin skillUnlocking(content) 
	skill.unlocking
		i.icons
			block
			i.lock.icon
		.content=content
//- 作品模板
mixin works(img,header,description,link) 
	a.ts.card(href=link)
		.image
			img(src=img)
		.content
			.header=header
			.description=description

doctype html
html
	head
		title 棒棒勝OuO
		meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(charset='utf-8')

		include ./../Jade/_tocasui.jade
		link(href='https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css',rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Jura',rel='stylesheet')
		link(href='style.css',rel='stylesheet')

		include ./../Jade/_tags.jade
		+social_tags('棒棒勝','大家好這裡是棒棒勝，目前在鬼島台灣擔任可悲的高中生，好，我實在不擅長寫這個。','https://gnehs.net/img/og.png','https://gnehs.net/')
	body
		header.ts.fluid.big.slate
			.image
				script(src='//gnehs.github.io/RandomPic/randompicture.js')
			img(src='avatar.png',id='avater')
			span.header 棒棒勝
			span.description ❤ 了解更多關於棒棒勝 ️❤
		.ts.container
			h1.ts.header 自介
			p 大家好這裡是棒棒勝，目前在鬼島台灣擔任可悲的高中生，好，我實在不擅長寫這個。

			h1.ts.header 技能
			skills
				+skill('CSS')
					<i class="devicon-css3-plain colored"></i>
				+skill('HTML')
					<i class="devicon-html5-plain colored"></i>
				+skill('Photoshop')
					<i class="devicon-photoshop-plain"></i>
				+skillUnlocking('JavaScript')
					<i class="devicon-javascript-plain colored"></i>
				+skillUnlocking('Node.js')
					<i class="devicon-nodejs-plain colored"></i>
			
			h1.ts.header 主要作品
			.ts.four.doubling.cards
				+works('/img/gnehsweather.png','棒棒勝天氣','查詢天氣的好幫手','https://gnehs.github.io/Sealed/weather/') 
				+works('/img/filter.png','CSS 濾鏡實驗室','透過該網頁實現濾鏡即時預覽','https://gnehs.github.io/Sealed/filter/filter.html') 
				+works('/img/xiaoan_jiao_you_zheng.png','洨安教友證','為美好的世界獻上洨安教，一個沒有歧視的歡樂天堂','https://gnehs.github.io/Sealed/xiaoan_jiao_you_zheng/index.html') 
				+works('/img/Carter.png','Carter','一個拿 Tocas UI 做出來的 Wordpress 主題','https://github.com/gnehs/Carter') 
				+works('/img/RandomPic.png','RandomPic','隨機的圖片，隨機的際遇','https://github.com/gnehs/RandomPic') 